.Pokecard {
    text-align: center;
    background-color:#A1D94E;
    color: #01261C;
    border: 3px solid #79A637;
    padding: 15px;
    margin: 15px;
    width: 15%;
    height: 35vh;
    box-shadow: 7px 10px 12px -5px rgb(1,38,28, 0.5);
    border-radius: 5px;
}

.Pokecard-img {
    background-color: #D8F2A0;
    margin: 5px 0; 
    padding: 20px 0;
    border-radius: 5px;
}

img{
    width: 40%;
    transition: all ease 500ms;
}

img:hover {
    transform: scale(1.5);
}

.Pokecard-title {
    font-size: 24px;
}

.Pokecard-data {
    font-size: 16px;
}

@media screen and (max-width: 2000px){
    .Pokecard {
        width: 20%;
        height: 35vh;
    }
}

@media screen and (max-width: 1500px){
    .Pokecard {
        width: 20%;
        height: 30vh;
        margin: 10px;
    }
}

@media screen and (max-width: 1200px){
    .Pokecard {
        width: 27%;
        margin: 20px;
        height: 37vh;
    }

    img{
        width: 45%;
    }
}

@media screen and (max-width: 800px){
    .Pokecard {
        width: 30%;
        height: 35vh;
    }

    img{
        width: 50%;
    }
}

@media screen and (max-width: 500px){
    .Pokecard {
        width: 50%;
        height: 40vh;
    }

    img{
        width: 65%;
    }
}

@media screen and (max-width: 300px){
    .Pokecard {
        width: 60%;
    }
}